fastapi
uvicorn
numpy
opencv-python-headless==4.8.1.78

# DeepFace stable
deepface==0.0.79

# TensorFlow compatible
tensorflow==2.12.0
tf-keras

# Needed for UploadFile (important)
python-multipart

pillow
